<html >

    <head th:replace="Layous/Fragmentos::cabecera"> 
     <meta charset="utf-8"/></head>
    <body class="sb-nav-fixed">
    <header th:replace="Layous/Fragmentos::barraSuperior"></header>
      
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:replace="Layous/Fragmentos::menu">
                
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container  px-4 py-4">
                    
              <div class="card">
              <div class="card-header bg-secondary text-white">Facturas Registradas</div> 
              <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered table-hover">
              <thead class="thead-dark">
              <tr>
              	<th>#</th>
              	<th>Cliente</th>
              	<th>Descripcion</th>
              	<th>Observacion</th>
              	<th>Fecha de Registro</th>
              	<th></th>
              	<th></th>
              	</tr>
              </thead>
              
              <tbody>
              <tr th:each="item:${listafacturas}">
              		<td th:text="${item.id}"></td>
              		<td th:text="${item.cliente.nombre}"></td>
              		<td th:text="${item.descripcion}"></td>
              		<td th:text="${item.observacion}"></td>
              		<td th:text="${item.fecha}"></td>
              	<th class="text-center">
              	<a href="#" th:id="${item.id}" th:param1="${item.cliente.id}" th:param2="${item.descripcion}" th:param3="${item.observacion}" 
              	class="btn btn-warning editarFactura" data-toggle ="modal" data-target="#modalFactura">
              	<i class ="fas fa-edit"></i> Editar
              
              </a>
              </th>
              
              <th class="text-center">
              <a th:href="@{/factura/eliminar/}+${item.id}" class="btn btn-danger" onclick="return confirm('Deseas eliminar?')">
              <i class=" far fa-trash-alt"></i> Eliminar
              </a>
              </th>
              
              </tr>
              </tbody>
              
              </table>
           </div>
           
            <div class="row mt-5">
                    <div class="col-12 text-center">
                    <button type="submit" class="btn btn-dark"><i class="fas fa-save" data-toggle ="modal" data-target="#modalFactura"> Registrar nueva Faactura</i></button>
                    </div>
                    </div>
                  </div>
                 
  </main>
<footer class="py-4 bg-light mt-auto" th:replace="Layous/Fragmentos::footer">
  </footer>
 </div>
</div>
        
  
   
 <!-- Modal -->
<div class="modal fade" id="modalFactura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="exampleModalLabel">Datos de  Factura</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
      
        </button>
      </div>
      
      <form th:action="@{/factura/form}" th:object="${factura}" method="post">
      <input type ="hidden" th:field ="*{id}"/>
      <div class="modal-body">
      <div class="row mb-3">
      <div class="col-12">
       <label> Clientes</label>
        <select class="form-select" th:field="*{cliente.id}" name="cliente.id">
        <option value=""> Seleccione una opcion </option> 
      <option th:each="item:${listaClientes}" th:value="${item.id}" th:text="${item.nombre}"> 
       </option>
       </select>
      </div> 
      </div> 
      
      <div class="form-row mb-3">
      <div class="col-12">
      <Label> Ingrese Descripcion:</Label>
      <input type="text" class="form-control" id="txtDescripcion" name="descripcion"/>
      
      </div>
      </div>
      
      
       <div class="form-row mb-3">
      <div class="col-12">
      <Label>Ingrese Observaciones:</Label>
      <input type="text" class="form-control"id="txtObservacion" name="observacion"/>
      
      </div>
      </div>
    
        

  </div> 
     
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fas fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary"> <i class="fas fa-save"></i> Guardar Cambios</button>
      </div>
      </form>
    </div>
  </div>
</div>  
        
        
        <script type="text/javascript"  th:src="@{/js/jquery-3.5.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
  		<script type="text/javascript" th:src="@{/js/factura.js}"></script>
    </body>
</html>